@import "mixins";

$color-base: #3c6d8b;
$color-clickable: #f60;
$color-hover: #f06;
$color-active: #37c871;

$color-academic: #d35f5f;

#floorplan {
  polygon {
    opacity: 1;
  }
  // Basic colors used to extrude floorplan.
  @include paintroom($color-base);
  .academic {
    @include paintroom($color-academic);
  }
  .mapplic-clickable {
    > *, 
    polygon {
      opacity: 1;
    }
    @include paintroom($color-clickable);
  }
  .mapplic-clickable {
    &:hover {
      @include paintroom($color-hover);
    }
  }
  .mapplic-active {
    opacity: 1;
    @include paintroom($color-active);
  }
}